@charset "UTF-8";
/* CSS Document */


/* ---------------TIPOGRAFIAS BASE montserrat ---------- */

/* ---------------TIPOGRAFIA trash ---------- */
@font-face{
	font-family: Trash;
	src: url(../assets/trash/trashregular-webfont.woff)}

@font-face{
	font-family: Trash Medium;
	src: url(../assets/trash/trash-medium-webfont.woff)}

@font-face{
	font-family: Trash Bold;
	src: url(../assets/trash/trash-bold-webfont.woff)}



/*------- ESTILOS GENERAL ------------*/
body{ 
	margin: 2rem;
	font-size: 1.2rem;}/* Tamaño de fuente: 16px */

p{font-size: 1 rem;
	position: absolute;
	width: 556px;
	height: 520px;
	left: 123px;
	top: 292px;
	font-family: 'Montserrat', sans-serif;
	font-style: thin 100;
	font-size: 25px;
	line-height: 28px;
	letter-spacing: 0.035em;}

h1{
	position: absolute;
	width: 819px;
	height: 96px;
	left: 340px;
	top: 478px;
	color: black;
	font-family: Trash Medium;
	font-style: normal;
	font-weight: 500;
	font-size: 120px;
	line-height: 120px;
	letter-spacing: 0.075em;}

li{
	display: inline;}

/*------- LOGO ------------*/
.logo {
	width: 50px; height: 50px;
	margin: 30px;
		
}


/* color type */

h2 {position: absolute;
	width: 542px;
	height: 67px;
	left: 115px;
	top: 116px;
	font-family: Trash Medium;
	font-style: normal;
	font-weight: 500;
	font-size: 60px;
	line-height: 60px;
	letter-spacing: 0.035em;}


h3{
	color: 423434;
	font-family: Trash Bold;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 36px;
	letter-spacing: -0.005em;}

h4{
	font-weight: 200;
	font-size: 16px;
	line-height: 18px;
	letter-spacing: 0.01em;
	font-style: normal;
	font-weight: lighter;
}

a{color: #423434;
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	outline-color:#FF7772;}
	
	

/*------- ESTILOS ELEMENTOS FLOTANTES ------------*/
.elemento-flotante1 {   
	top: 11vh;
	left: 3vw;}
	
.elemento-flotante2 { 
	width: 50px;
	height: 19px;
	left: 168px;
	top: 624px;}

.elemento-flotante3 { 
	top: 70vh;
	left: 60vw;}

.elemento-flotante4 { 
	top: 20vh;
	left: 60vw;}

.elemento-flotante5 { 
	top: 40vh;
	left: 30vw;}

/*-----------TAMAÑO DE OBJETOS-------------*/
.objeto1 {

left: 60 vw;
size: 20em;
max-width: 20em;
width: 50px; height: 50px;
margin: 80px;
}

.objeto2 {

	left: 60 vw;
	size: 20em;
	max-width: 30em;
	width: 50px; height: 50px;
	margin: 60px;
	}

/*-----------ESTILO CONTAINER GENERAL-------------*/

.container{
	padding: 1rem;
	float: center;}

/*-----------ESTILO COLUMNA RIGHT-------------*/ 

.colum-right{
	float:right;
	text-align: right;
}

/*-----------ESTILO COLUMNA LEFT-------------*/ 

.colum-left{
	float: left;
	padding: 20rem;
	
}


/*-----------FONDO-------------*/
body{
	background: #F9FEFE;
	margin: 0;}


/*-----ESTILOS IMAGEN ABOUT----*/

.fotopersonal {
	max-width: 25em;
    width: 15em;
	float: right;
	justify-content: right;
	position: static;
	margin-bottom: 10em;
	margin-top: 1em;;
    }


	/*-----FONS AMB CERCLE----*/

.content {
	position: relative;
	z-index: 1;}

/*-----CERCLE----*/
.billboard {
	background: #F9FEFE;
	height: 100vh;
	color: white;}

.circulo {
	align-items: center;
	background: pink;
	display: flex;
	width: 100%;
	height: 100vh;
	position: absolute;
	z-index: 0;}

.circulo::before {
	border: 4px solid #C4C4C4;
	border-radius: 50%;
	content: '';
	display: block;
	width: 90vh;
	height: 90vh;
	opacity: .25;}




/* ------------ESTILOS MENU------------ */

ul{list-style-type: none;}

li{display:inline;
	color: 33FFD1;
	float: right;
	

	padding-right:0.5em;
	padding-left: 10px;
	margin-left: 20px;
	margin-right: 20px;
	margin: 8px;}